.message-history{
  /* background-color: lightblue; */
  /* width: 110px; */
  /* height: 110px; */
  padding: 16px;
  max-height: calc(100vh - 200px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
}