.hidden{
  transition: all .3s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
  height: 0;
  z-index: -100;
  }
  
  .visible{
  transition: all .3s ease-in-out;
  transform-origin: left top;
  transform: scaleY(1);
}

.update-avatar-form{
  justify-content: center;
}