.contact-item{
  margin: 10px;
  text-align: left;
  cursor: pointer;
}

.contact-card{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.contact-card h4 {
  margin-left: 15px;
}

.contact-avatar-wrapper{
  align-self: center;
}

.contact-avatar{
  width: 100px;
  height: 100px;
  /* position: relative; */
  overflow: hidden;
  border-radius: 50%;
  margin: auto
  /* margin: 0 auto; */
}

.contact-avatar-img{
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-bio {
  display: none;
}