.ProfilePage{
  color: white;
}

.ProfilePage h1{
  margin-bottom: 2rem;
}

.ProfilePage .profile-picture img {
  max-width: 15vw;
  border-radius: 50%;
}

.change-avatar:hover{
  text-decoration: underline;
  cursor: pointer;
}