.ProfilePage {
    color: white;
}

.ProfilePage h1 {
    margin-bottom: 2rem;
}

.profile-picture {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid white;
}

.profile-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.change-avatar:hover {
    text-decoration: underline;
    cursor: pointer;
}
