.me{
  color: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.you{
  color: rgb(35, 35, 35);
  border-radius: 10%;
  display: flex;
  align-items: flex-start;
}

.message{
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.you .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.me .message {
  color: white;
  margin-left: 25%;
  background-color:  #0085D1; /* fallback color if gradients are not supported */
  background: -webkit-linear-gradient(bottom, #00D0EA 0%, #0085D1 100%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background:    -moz-linear-gradient(to bottom,#00D0EA 0%, #0085D1 100%); /* For Firefox (3.6 to 15) */
  background:      -o-linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%); /* For old Opera (11.1 to 12.0) */ 
  background:         linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%); /* Standard syntax; must be last */
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}