.SignupForm{
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SignupForm span{
  color: white;
}

.SignupForm h3{
  color: white;
}

.SignupForm label{
  color:white!important;
}

.SignupForm input{
  display: flex;
  flex-direction: row;
}